node_red_flow.json
[{"id":"54cf6b9.be18b94","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"1036c0fe.d98b1f","type":"ui_form","z":"54cf6b9.be18b94","name":"","label":"","group":"a5bef0a.a0af61","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year\t","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"stats","type":"text","required":true,"rows":null},{"label":"Adult Mortality\t","value":"adult_mortality","type":"number","required":true,"rows":null},{"label":"Infant Deaths\t","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Alcohol\t","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percentage","type":"number","required":true,"rows":null},{"label":"Hepatitis B\t","value":"hepatitis","type":"number","required":true,"rows":null},{"label":"Measles \t ","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI \t","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths \t","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio\t","value":"polio","type":"number","required":true,"rows":null},{"label":"Total expenditure\t","value":"total_exp","type":"number","required":true,"rows":null},{"label":"Diphtheria \t ","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS\t","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP\t","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population\t","value":"population","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years\t","value":"thin_19","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years\t","value":"thin_9","type":"number","required":true,"rows":null},{"label":"Income composition of resources\t","value":"inc_com","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","stats":"","adult_mortality":"","infant_deaths":"","alcohol":"","percentage":"","hepatitis":"","measles":"","bmi":"","ufd":"","polio":"","total_exp":"","diphtheria":"","hiv":"","gdp":"","population":"","thin_19":"","thin_9":"","inc_com":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["f6e549c7.480528"]]},{"id":"f6e549c7.480528","type":"function","z":"54cf6b9.be18b94","name":"pre-token","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"stats\",msg.payload.stats)\nglobal.set(\"adult_mortality\",msg.payload.adult_mortality)\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"percentage\",msg.payload.percentage)\nglobal.set(\"hepatitis\",msg.payload.hepatitis)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"total_exp\",msg.payload.total_exp)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin_19\",msg.payload.thin_19)\nglobal.set(\"thin_9\",msg.payload.thin_9)\nglobal.set(\"schooling\",msg.payload.schooling)\nglobal.set(\"inc_com\",msg.payload.inc_com)\nvar apikey=\"MQScTZ-yEJ05bacqPIBNDdZv0jITMCuU1oNt6narPGdd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["1d3d8127.c0e84f"]]},{"id":"78b79d3d.501704","type":"function","z":"54cf6b9.be18b94","name":"post-token","func":"var country =global.get(\"country\")\nvar year= global.get(\"year\")\nvar stats =global.get(\"stats\")\nvar adult_mortality=global.get(\"adult_mortality\")\nvar infant_deaths =global.get(\"infant_deaths\")\nvar alcohol =global.get(\"alcohol\")\nvar percentage =global.get(\"percentage\")\nvar hepatitis =global.get(\"hepatitis\")\nvar measles=global.get(\"measles\")\nvar bmi =global.get(\"bmi\")\nvar ufd =global.get(\"ufd\")\nvar polio =global.get(\"polio\")\nvar total_exp =global.get(\"total_exp\")\nvar diphtheria =global.get(\"diphtheria\")\nvar hiv =global.get(\"hiv\")\nvar gdp =global.get(\"gdp\")\nvar population =global.get(\"population\")\nvar thin_19 =global.get(\"thin_19\")\nvar thin_9 =global.get(\"thin_9\")\nvar schooling =global.get(\"schooling\")\nvar inc_com =global.get(\"inc_com\")\nvar token=msg.payload.access_token\nvar instance_id=\"ddccb915-717c-4bcf-97e4-28f701d1011b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[country,year,stats,adult_mortality,infant_deaths,alcohol,percentage,hepatitis,measles,bmi,ufd,polio,total_exp,diphtheria,hiv,gdp,population,thin_19,thin_9,inc_com,schooling]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["ce179d57.6d4f7"]]},{"id":"1d3d8127.c0e84f","type":"http request","z":"54cf6b9.be18b94","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":280,"wires":[["78b79d3d.501704"]]},{"id":"ce179d57.6d4f7","type":"http request","z":"54cf6b9.be18b94","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3357f392-9086-4bcc-8b93-1d6a7cb0f6cf/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":280,"wires":[["b421d2ce.632c6","903df71c.60fb78"]]},{"id":"b421d2ce.632c6","type":"debug","z":"54cf6b9.be18b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"a9e4b7a7.fba558","type":"debug","z":"54cf6b9.be18b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":400,"wires":[]},{"id":"903df71c.60fb78","type":"function","z":"54cf6b9.be18b94","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["a9e4b7a7.fba558","35b9e619.8bbaea"]]},{"id":"35b9e619.8bbaea","type":"ui_text","z":"54cf6b9.be18b94","group":"a5bef0a.a0af61","order":2,"width":0,"height":0,"name":"","label":"The Expected Life Expectancy of the person is:-","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":240,"wires":[]},{"id":"a5bef0a.a0af61","type":"ui_group","z":"","name":"Details","tab":"96cf87cd.7244c8","order":1,"disp":true,"width":10,"collapse":false},{"id":"96cf87cd.7244c8","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","order":3,"disabled":false,"hidden":false}]